
Excel/~$REFAinput.xlsm

*.gdx

GAMS/REFAinput.txt

*.lxi

*.lst

GAMS/REFAoutput.txt

Python/.spyproject/config/

GAMS/Demo/

GAMS/225a/

Data fra REFA/

GAMS/Garbage/

GAMS/Feasible states/

GAMS/As-Is resultater/Nominel/

GAMS/Output/

GAMS/As-Is resultater/Nominelt/Oldies/

GAMS/As-Is resultater/Nominelt/

GAMS/As-Is resultater/HavePark/

GAMS/As-Is resultater/Nominelt med frie tonnager/

GAMS/As-Is resultater/Afgiftsdebugging/

GAMS/As-Is resultater/HavePark 10 kton, Køler 30 MWq/

GAMS/As-Is resultater/HavePark 10kton TyskRest 50kton/

GAMS/As-Is resultater/HavePark 10kton/Oldies/

GAMS/As-Is resultater/HavePark 10kton TyskRest 55kton Køler 30 MWq/

GAMS/As-Is resultater/HavePark 20kton/

GAMS/As-Is resultater/HavePark 10kton/

GAMS/As-Is resultater/

GAMS/BackupScen-ver2/

GAMS/Debugging/Afgiftsdebugging/

GAMS/Debugging/Scenarie-debugging/

Dropbox folder Affaldsdisponering - Shortcut.lnk

*.par
